:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
input, button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 5px;
}